.features-section {
}

.features-header {
  margin-bottom: 30px;
  text-transform: uppercase;
}
.features-grid {
  display: grid;
  column-gap: 20px;
  row-gap: 15px;
}
.features-grid-3col {
  grid-template-columns: repeat(3, 260px);
}
.features-grid-2col {
  grid-template-columns: repeat(2, 260px);
}

@media (max-width: 860px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
}

@media (max-width: 500px) {
  .features-grid {
    .text {
      font-size: 12px;
      white-space: wrap;
    }
  }
}
