.header {
  position: relative;
  background-color: $dark-background;
  font-family: "Mulish", sans-serif;
  color: white;
}
.header-container {
  max-width: 1420px;
  margin: 0px auto;
  padding: 0px 43px;
}
.header-body {
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-bottom {
  border-top: 1px solid $header-color;
}
.header-bottom-body {
  height: 68px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;

  font-size: 13px;
  line-height: 22px;
  font-size: 13px;
  color: #a0a0a0;

  & a {
    @include hover {
      color: white;
    }
  }
}
.header-bottom-link {
  @include hover {
    color: white;
  }
}
.phone {
  white-space: nowrap;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;

  &::before {
    content: "";
    position: relative;
    width: 20px;
    height: 20px;
    background: url("../../assets/icons/phone.svg"), center, center;
    background-size: contain;
  }
}
.header-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header-navigation-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-navigation-link {
  padding: 21px;
  white-space: nowrap;
  position: relative;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: 21px;
    bottom: 10px;
    width: 0%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transition-duration: 0.2s;
  }

  @include hover {
    &::before {
      width: calc(100% - (21px * 2));
    }
  }
}
.header-navigation-logo {
  flex-shrink: 0;
  height: 52px;

  & img {
    height: 100%;
  }
}

.header-body-mobile {
  height: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.511);
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;

    width: 60%;
    height: 1px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0px -8px white, 0px 8px white;
  }
}
.header-navigation-close {
  position: absolute;
  top: 19px;
  right: 43px;
  width: 42px;
  height: 42px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: "";
    position: absolute;

    width: 110%;
    height: 2px;
    background-color: $header-mobile-link-color;
    rotate: 45deg;
  }
  &::after {
    rotate: -45deg;
  }
}

.blure {
  display: none;
}

@media (max-width: 1300px) {
  .blure {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 10;

    &.visible {
      display: block;
    }
  }
  .header {
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
  .header-body {
    height: 69px;
  }
  .header-bottom-body {
    height: 40px;
  }
  .header-navigation {
    box-sizing: border-box;
    width: 340px;
    height: 100vh;
    padding: 70px 40px;
    position: fixed;
    background-color: $menu-background;
    right: 0px;
    top: 0px;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    transform: translateX(100%);
    transition-duration: 0.2s;

    &.open {
      transform: translateX(0%);
    }
    z-index: 100;
  }
  .header-navigation-list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  .header-navigation-link {
    text-transform: uppercase;
    padding: 0px;
    color: $header-mobile-link-color;
    font-size: 25px;
    font-family: "Marcellus", sans-serif;

    &::before {
      display: none;
    }
  }
}
