.location-section {
}
.location-header {
  margin-bottom: 30px;
}
.location-iframe-container {
  margin-bottom: 30px;
}
.location-iframe {
}

.location-list {
  padding: 0px 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 20px;
}
.icontext-item {
}
.location-item {
  align-items: flex-start;
  gap: 15px;
  & p {
    white-space: wrap;
  }
}

@media (max-width: 700px) {
  .location-list {
    grid-template-columns: 1fr;
    padding: 0px;
  }
}
