.slider-section {
  position: relative;
}
.swiper-slide {
  height: 400px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (min-width: 800px) {
    height: 450px;
  }
  @media (min-width: 1500px) {
    height: 470px;
  }
}
.controlls-container {
  position: relative;
  background-color: red;
  height: 100px;
}
.swiper-prev,
.swiper-next {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);

  & span {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-left: none;
    border-bottom: none;
  }
}
.swiper-prev {
  left: 20px;
  left: max(20px, calc((100% - 1177px) / 2 + 20px));
  & span {
    transform: rotate(-135deg);
  }
}
.swiper-next {
  right: 20px;
  right: max(20px, calc((100% - 1177px) / 2 + 20px));
  & span {
    transform: rotate(45deg);
  }
}

@media (max-width: 1000px) {
  .swiper-prev,
  .swiper-next {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 800px) {
  .slider-section {
    padding: 10px;
  }
}
