$dark-background: #181d23;
$yellow-background: #efe4d2;
$button-background: #dbb661;
$footer-background: #2f2f2f;
$accent: rgb(255, 153, 0);

$header-color: #535353;
$text-color: #333333;
$title-color: #222222;
$light-color: #686868;
$quota-color: #b87237;
$footer-title-color: #ff9900;
$footer-link-color: #7a7a7a;
